Dual HTTP/1.1 and HTTP/2 support at M5

# Context

In order to unblock development of the Media Session Handler, issue #10 temporarily removed HTTP/2 support at reference point M5 in favour of HTTP/1.1. However, TS 26.512 clause 6.2.1.1 requires support for _both_ versions of HTTP at this reference point (and at reference point M1).

The Open5GS framework currently supports only HTTP/2, but was patched to support HTTP/1.1 instead in #10.

This issue modifies the implementation so that the HTTP client is able to choose which of the two protocols it wishes to use, bringing it more in line with the requirements of TS 26.512.

# Specification

Adjust [`lib/sbi/server.c`](https://github.com/open5gs/open5gs/blob/main/lib/sbi/server.c#L30) behaviour in the Open5GS framework to support _on the same server listening port_:
- HTTP/1.1.
- HTTP/2 _(cleartext h2c only)_ with prior knowledge, according to the procedure specified in [section 3.4 of RFC 7540](https://www.rfc-editor.org/rfc/rfc7540#section-3.4).

Detection of the HTTP/2 connection preface byte string (see [section 3.5 of RFC 7540](https://www.rfc-editor.org/rfc/rfc7540#section-3.5)) moves the server into HTTP/2 (h2c) mode. Otherwise, it assumes HTTP/1.1 operation.

Support for protocol upgrade to HTTP/2 (h2c) operation after a period of HTTP/1.1 operation of an HTTP session (per [section 6.7 of RFC 7230](https://www.rfc-editor.org/rfc/rfc7230#section-6.7))  is _not_ required.

Adding TLS support (on a different server listening port) is _not_ in the scope of this issue and will be tackled separately, possibly within the Open5GS project itself after discussion with the maintainer of that project.

# Implementation notes

HTTP/1.1 support is of little use to the main Open5GS project because all service-based interactions in the Control Plane use HTTP/2 per TS 33.501 clause 13.1.0: this change to support both HTTP versions is only applicable when interacting with Application Functions in the Data Network.

It is therefore unclear whether it is best to change the server behaviour locally in this repository, or to clone the Open5GS repository and make it a submodule of this repository.

And there may be no value in contributing this change back to the Open5GS project.