Implement `Server`, `ETag`, `Last-Modified` and `Cache-Control` headers on 

# Specification

## `Server` header
All 5GMS Application Function responses (including error responses) must have a `Server` header ([section 10.2.4 of RFC 9110](https://www.rfc-editor.org/rfc/rfc9110#section-10.2.4)) which conforms to the format `5GMSdAF-{FQDN}/{implementationSpecificSuffix}` (see TS 26.512 clause 6.2.3.3.1) where:
  - `{FQDN}` is the fully qualified domain name of the Application Function host.
  - `{implementationSpecificSuffix}` shall identify at least the 3GPP release number (e.g. 17), and preferably the version number of TS 26.512 that the Application Function is implementing (e.g. 17.3.0).
     - This value shall be populated from a macro set in the top-level `meson.build` file.

A comment shall be appended to the primary product string indicating the YAML OpenAPI specification API name and version number with which the API complies (e.g. `info.title=M1_ContentHostingProvisioning;info.version=2.1.1`). This string shall be derived from the `info.title` and `info.version` properties of the relevant YAML OpenAPI definition, preferably by introspecting the code generated by OpenAPI Generator. Note that the value may be different for each API in a given version of TS 26.512.

In addition, the reference implementation shall provide a vendor-specific subproduct string indicating the name `rt-5gms-application-function` followed by an oblique character followed by the release number of the Application Function (e.g. `1.1.0`). The latter shall be populated from a macro set in the top-level `meson.build` file.

Complete example:

```Server: 5GMSdAF-msaf1.mno.net/17.3.0 (info.title=M1_ContentHostingProvisioning;info.version=2.1.1) rt-5gms-application-function/1.1.0```

## Entity headers
Additionally all 2XX server responses that contain body data must also have `ETag`, `Last-Modified` and `Cache-Control` headers (see TS 26.512 clause 6.2.3.4).

These extra headers shall appear on both M1 and M5 interfaces.

### Scope of applicability
This currently means the following API operations will contain the extra `ETag`, `Last-Modified` and `Cache-Control`  headers:
- **M1**
    - createProvisioningSession (#15)
    - getProvisioningSessionById (#15)
    - createContentHostingConfiguration (#18)
    - retrieveContentHostingConfiguration (#18)
    - createOrReserveServerCertificate (#17)
    - retrieveServerCertificate (#17)
    - retrieveContentProtocols (#16)
- **M5**
    - retrieveServiceAccessInformation (#6)

### `Etag` header
Where possible, the `ETag` shall be a SHA256 hash of the underlying entity served by the Application Function, encoded as a hexadecimal string.
* In the case of Server Certificates, the entity tag value is provided by the external certificate management process and therefore may not be a SHA256.

### `Last-Modified` header
The `Last-Modified` date-time shall be output in IMF format ("Day, dd Mon YYYY HH:MM:SS GMT") as defined in RFC 7231. This will be the date-time of when the last create or update operation was received that created or modified the object being returned.
* In the case of Server Certificates, the last modified date-time value is provided by the external certificate management process.

### `Cache-Control` header
The `Cache-Control` header shall indicate a `max-age` based on defaults that can be changed in the application YAML configuration file. The default `max-age` shall be 60 seconds, except for M1 Content Protocols responses which shall use a default of 86400 seconds (because the information in the response is static for a given 5GMS AF build).
* The configuration file shall allow the main default to be changed and also individual override values for `max-age` for M1 Provisioning Sessions, M1 Content Hosting Configurations, M1 Content Protocols and M5 Service Access Information, which take preference over the default `max-age` for those responses.
* The `Cache-Control` header for M1 Server Certificates is provided by the external certificate management process.
   * If absent from the certificate management process output then the current Application Function default shall be used.

Is the intention here to support these response headers for both HTTP/1.1 and HTTP/2, @davidjwbbc? (That's not clear from the above specification yet.)

Also (and of potential interest to @irajs) I notice there is nothing to specify what the 5GMSu AF should use as a `Server` header! Uplink streaming is in the process of being fleshed out a bit more by him in Rel-18. However, given that Iraj has proposed provisioning downlink and uplink streaming via a common M1 API, I'm not entirely convinced that it's necessary to distinguish a 5GMSd AF from a 5GMSu AF, especially since a single 5GMS AF could be managing both downlink and uplink media streaming in a deployed 5GMS System. Given this, maybe the correct course of action is to simplify the current specification by making the primary product string `5GMSAF-{FQDN}/{Release}`

> Is the intention here to support these response headers for both HTTP/1.1 and HTTP/2, @davidjwbbc? (That's not clear from the above specification yet.)

Yes, the headers belong on the response no matter which version of the HTTP protocol is being used. Although the field names will get converted to lowercase in the HTTP/2 protocol so will be `server`, `etag`, `last-modified` and `cache-control`. But this should happen automatically.

I have updated the specification of the `Server` header at the top of the issue based on discussion.

In particular, I have simplified the specification of the comment part to indicate only the OpenAPI version number for the endpoint that has been invoked. (I think it's not good practice to expose details of M5 at M1 and _vice versa_.) Ideally, this value can be derived by inspecting the code that OpenAPI Generator has autogenerated from the OpenAPI YAML file. (The API version number appears as `info.version` in those files.) If this is not readily available to the running code, we can think again.

> In particular, I have simplified the specification of the comment part to indicate only the OpenAPI version number for the endpoint that has been invoked. (I think it's not good practice to expose details of M5 at M1 and _vice versa_.) Ideally, this value can be derived by inspecting the code that OpenAPI Generator has autogenerated from the OpenAPI YAML file. (The API version number appears as `info.version` in those files.) I have also proposed including the API name from the YAML file (which appears as `info.title`). If these are not readily available to the running code, we can think again.

To explain my rationale here a bit: I think the API version number is more critical than the specification version number. It's finer grained, and also the key information a client needs to understand for compatibility.

I have raised 5G-MAG/Standards#50 to propose an amendment to TS 26.512 clause 6.2.3.3.1 regarding the `Server` header. (It doesn't block implementation of the specification on this issue.)

For `Last-Modified` if you're using the `strftime()` system function to format the time then set `TZ` environment variable to "GMT" and use the format "%a, %d %b %Y %H:%M:%S %Z".

> set `TZ` environment variable to "GMT", `LC_TIME` environment variable to "en_US"

I assume you mean set these environment variables in the main function of the Application Function (as opposed to setting them on the command line), @davidjwbbc?

Is there a reason you recommend `GMT` as the time zone rather than `UTC`? (I believe the two have different rules for handling leap seconds.)

> > set `TZ` environment variable to "GMT", `LC_TIME` environment variable to "en_US"
> 
> I assume you mean set these environment variables in the main function of the Application Function (as opposed to setting them on the command line), @davidjwbbc?

They need to be set at some time before `strftime()` is called, the best place is probably in the 5GMS Application Function start-up.

> Is there a reason you recommend `GMT` as the time zone rather than `UTC`? (I believe the two have different rules for handling leap seconds.)

Yes, because using `UTC` would generate date-time strings in the wrong timezone. The [RFC 7231]() IMF format says that the date-time must always be in GMT, so the timezone needs to be `GMT`.

```
$ TZ=UTC date +'%a, %d %b %Y %H:%M:%S %Z'; TZ=GMT  date +'%a, %d %b %Y %H:%M:%S %Z'
Fri, 03 Feb 2023 09:49:22 UTC
Fri, 03 Feb 2023 09:49:22 GMT
```

As you can see, if the timezone is `UTC` then the date-time gets UTC appended, but gets the correct zone with `GMT`.

> Also, is there a particular reason to use the `en_US` locale in preference to the POSIX default locale `C`?

Because the names in the RFC were in English, but the `C` locale would probably be better as that also uses the English names but is more cross platform.


All Error responses have now the `server header`.  

The responses for  `createProvisioningSession`, `getProvisioningSessionById`, `createContentHostingConfiguration`, `retrieveContentHostingConfiguration` now have the `ETag`, `Last-Modified` and `Cache-Control` headers set.

Sample output:

- createProvisioningSession
```
$ curl -H 'User-Agent: AF' -H 'Content-Type: application/json' --data @/home/ubuntu/ps.json -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/json
> Content-Length: 118
> 
* upload completely sent off: 118 out of 118 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 201 Created
< Connection: Keep-Alive
< Content-Length: 179
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M1_ProvisioningSessions; info.version=2.0.0) rt-5gms-application-function/1.1.0
< Cache-Control: 62
< Last-Modified: Wed, 08 Feb 2023 16:30:27 GMT
< ETag: 6ed836c971787a8a5900b0f959decb9beca6b18f38c935e2b005a81c42519ff6
< Date: Wed, 08 Feb 2023 16:30:27 GMT
< 
{
	"provisioningSessionId":	"e54dbf76-a7cd-41ed-86d0-171de1e75cda",
	"provisioningSessionType":	"DOWNLINK",
	"aspId":	"BBC",
	"externalApplicationId":	"Media Streaming Downlink"
* Connection #0 to host 127.0.0.22 left intact
}
``` 
- getProvisioningSession
```
$curl  -H 'User-Agent: AF' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 179
< Content-Type: application/json
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M1_ProvisioningSessions; info.version=2.0.0) rt-5gms-application-function/1.1.0
< Cache-Control: 62
< Last-Modified: Wed, 08 Feb 2023 16:30:27 GMT
< ETag: 6ed836c971787a8a5900b0f959decb9beca6b18f38c935e2b005a81c42519ff6
< Date: Wed, 08 Feb 2023 16:30:37 GMT
< 
{
	"provisioningSessionId":	"e54dbf76-a7cd-41ed-86d0-171de1e75cda",
	"provisioningSessionType":	"DOWNLINK",
	"aspId":	"BBC",
	"externalApplicationId":	"Media Streaming Downlink"
* Connection #0 to host 127.0.0.22 left intact
}
```
 - createContentHostingConfiguration
 ```
$ curl  -H 'User-Agent: AF' -H 'Content-Type: application/json' --data @/home/ubuntu/git0-2912/rt-5gms-application-function/examples/ContentHostingConfiguration_Big-Buck-Bunny_pull-ingest_http_and_https.json -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/json
> Content-Length: 375
> 
* upload completely sent off: 375 out of 375 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 201 Created
< Connection: Keep-Alive
< Content-Length: 636
< Cache-Control: 63
< Last-Modified: Wed, 08 Feb 2023 16:31:13 GMT
< ETag: 1f05ec542503481e293beb2d824903b08f146264c9ae9d5e47b399dde94ffa1e
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda/content-hosting-configuration
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M1_ContentHostingProvisioning; info.version=2.1.0) rt-5gms-application-function/1.1.0
< Date: Wed, 08 Feb 2023 16:31:13 GMT
< 
{
	"distributionConfigurations":	[{
			"baseURL":	"http://localhost/m4d/provisioning-session-e54dbf76-a7cd-41ed-86d0-171de1e75cda/",
			"canonicalDomainName":	"localhost"
		}, {
			"baseURL":	"https://localhost/m4d/provisioning-session-e54dbf76-a7cd-41ed-86d0-171de1e75cda/",
			"canonicalDomainName":	"localhost",
			"certificateId":	"testcert1"
		}],
	"entryPointPath":	"BigBuckBunny_4s_onDemand_2014_05_09.mpd",
	"ingestConfiguration":	{
		"baseURL":	"https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/",
		"protocol":	"urn:3gpp:5gms:content-protocol:http-pull-ingest",
		"pull":	true
	},
	"name":	"Big Buck Bunny"
* Connection #0 to host 127.0.0.22 left intact
}
```
- retrieveContentHostingConfiguration

```
$ curl  -H 'User-Agent: AF' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 636
< Cache-Control: 63
< Last-Modified: Wed, 08 Feb 2023 16:31:13 GMT
< ETag: 1f05ec542503481e293beb2d824903b08f146264c9ae9d5e47b399dde94ffa1e
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75cda/content-hosting-configuration
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M1_ContentHostingProvisioning; info.version=2.1.0) rt-5gms-application-function/1.1.0
< Date: Wed, 08 Feb 2023 16:32:40 GMT
< 
{
	"distributionConfigurations":	[{
			"baseURL":	"http://localhost/m4d/provisioning-session-e54dbf76-a7cd-41ed-86d0-171de1e75cda/",
			"canonicalDomainName":	"localhost"
		}, {
			"baseURL":	"https://localhost/m4d/provisioning-session-e54dbf76-a7cd-41ed-86d0-171de1e75cda/",
			"canonicalDomainName":	"localhost",
			"certificateId":	"testcert1"
		}],
	"entryPointPath":	"BigBuckBunny_4s_onDemand_2014_05_09.mpd",
	"ingestConfiguration":	{
		"baseURL":	"https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/",
		"protocol":	"urn:3gpp:5gms:content-protocol:http-pull-ingest",
		"pull":	true
	},
	"name":	"Big Buck Bunny"
* Connection #0 to host 127.0.0.22 left intact
}

```
- Sample error message with the `server` header

```
$ curl  -H 'User-Agent: AF' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75c/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m1/v2/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75c/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 404 Not Found
< Connection: Keep-Alive
< Content-Length: 285
< Content-Type: application/problem+json
< Server: 5GMSdAF-af.localdomain/17.3.0 rt-5gms-application-function/1.1.0
< Date: Wed, 08 Feb 2023 16:36:20 GMT
< 
{
	"type":	"/3gpp-m1/v2",
	"title":	"Provisioning session does not exists.",
	"status":	404,
	"detail":	"provisioningSession [e54dbf76-a7cd-41ed-86d0-171de1e75c] does not exists.",
	"instance":	"/provisioning-sessions/e54dbf76-a7cd-41ed-86d0-171de1e75c/content-hosting-configuration"
* Connection #0 to host 127.0.0.22 left intact
}

```
However, noticed that the hash of the `provisioningSession` is overwritten by the hash of the``contentHostingConfiguration`. Possibly some memory overwrite. Investigating on that.

> * The success responses for  the operations `createProvisioningSession`, `getProvisioningSessionById`, `createContentHostingConfiguration` and `retrieveContentHostingConfiguration` now have the `ETag`, `Last-Modified` and `Cache-Control` response headers set, as well as the specified `Server` header.
> * All error responses have now the `Server` response header.
> 
> Next, I am going to implement the M5 - `retrieveServiceAccessInformation` followed by the Server Certificate APIs mentioned above.
> 
> Sample output below.
> 
> # `createProvisioningSession`
> ```
> $ curl -H 'User-Agent: AF' -H 'Content-Type: application/json' --data @/home/ubuntu/ps.json -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions
> *   Trying 127.0.0.22:7777...
> * TCP_NODELAY set
> * Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> > POST /3gpp-m1/v2/provisioning-sessions HTTP/1.1
> > Host: 127.0.0.22:7777
> > Accept: */*
> > User-Agent: AF
> > Content-Type: application/json
> > Content-Length: 118
> > 
> * upload completely sent off: 118 out of 118 bytes
> * Mark bundle as not supporting multiuse
> < HTTP/1.1 201 Created
> < Connection: Keep-Alive
> < Content-Length: 179
> < Cache-Control: 62
> < Last-Modified: Thu, 09 Feb 2023 11:37:49 GMT
> < ETag: 341e6fc1a763ebc1f533af7bb82c40f36a5c11b3a554a379e8fd3e90aa895690
> < Content-Type: application/json
> < Location: /3gpp-m1/v2/provisioning-sessions/2e6a9030-a86e-41ed-89a1-b1ed416362a6
> < Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M1_ProvisioningSessions; info.version=2.0.0) rt-5gms-application-function/1.1.0
> < Date: Thu, 09 Feb 2023 11:37:49 GMT
> < 
> ...
> ```

The correct format for the `Cache-Control` header would be:
```
Cache-Control: max-age=62
```

Implemented the custom header for `retrieveServiceAccessInformation`. A sample output is shown below:

```
$ curl -v http://127.0.0.22:7777/3gpp-m5/v2/service-access-information/3d11bbe8-a960-41ed-986f-07bd7abbd7eb
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m5/v2/service-access-information/3d11bbe8-a960-41ed-986f-07bd7abbd7eb HTTP/1.1
> Host: 127.0.0.22:7777
> User-Agent: curl/7.68.0
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 201 Created
< Connection: Keep-Alive
< Content-Length: 278
< Content-Type: application/json
< Cache-Control: max-age=: 64
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M5_ServiceAccessInformation; info.version=2.1.0) rt-5gms-application-function/1.1.0
< Last-Modified: Fri, 10 Feb 2023 16:31:30 GMT
< ETag: 8caf389eb3789b1b1ce1b57377bc56f92714aa2485e194d854c6c2c9a96381f0
< Date: Fri, 10 Feb 2023 16:31:48 GMT
< 
{
	"provisioningSessionId":	"3d11bbe8-a960-41ed-986f-07bd7abbd7eb",
	"provisioningSessionType":	"DOWNLINK",
	"streamingAccess":	{
		"mediaPlayerEntry":	"https://localhost/m4d/provisioning-session-3d11bbe8-a960-41ed-986f-07bd7abbd7eb/BigBuckBunny_4s_onDemand_2014_05_08.mpd"
	}
* Connection #0 to host 127.0.0.22 left intact
}
```

> In this output `:` in `max-age=:` is added by the underlying server and not by the Application Function.

Weird. Maybe your're using the API in a way that is different from envisaged, @devbbc?


Yes, @devbbc had added the "max-age=" bit to the header name instead of the value, I've pointed out where in the code this is wrong in a separate email to @devbbc.

Set the `max-age=` as part of the value instead of header name and that now the output is in the required format.

```
$ curl -v http://127.0.0.22:7777/3gpp-m5/v2/service-access-information/18d97126-ab8b-41ed-90cb-9fccaa7b26f3
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m5/v2/service-access-information/18d97126-ab8b-41ed-90cb-9fccaa7b26f3 HTTP/1.1
> Host: 127.0.0.22:7777
> User-Agent: curl/7.68.0
> Accept: */*
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 201 Created
< Connection: Keep-Alive
< Content-Length: 278
< Cache-Control: max-age=64
< Last-Modified: Mon, 13 Feb 2023 10:43:49 GMT
< ETag: f9cd5233a5ea08f0796f3e5dc0cc891f873a90d0750244cea754e7a5d361e75f
< Content-Type: application/json
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M5_ServiceAccessInformation; info.version=2.1.0) rt-5gms-application-function/1.1.0
< Date: Mon, 13 Feb 2023 10:44:45 GMT
< 
{
	"provisioningSessionId":	"18d97126-ab8b-41ed-90cb-9fccaa7b26f3",
	"provisioningSessionType":	"DOWNLINK",
	"streamingAccess":	{
		"mediaPlayerEntry":	"https://localhost/m4d/provisioning-session-18d97126-ab8b-41ed-90cb-9fccaa7b26f3/BigBuckBunny_4s_onDemand_2014_05_08.mpd"
	}
* Connection #0 to host 127.0.0.22 left intact
}
```


Discussed internally and decided to implement headers on the Server Certificates  and content Protocols as part of #17 and #16 respectively.