Implement M1 Content Hosting Provisioning API

# Specification

Because there can only be zero or one Content Hosting Configuration associated with a parent Provisioning Session, the Content Hosting Configuration is identified by a fixed subresource path rather than by a UUID.

Additional implementation specification:
- `M1_ContentHostingProvisioning_purgeContentHostingCache`: The 5GMS AF does not need to validate the optional ECMA regular expression request parameter prior to invoking the purge operation of the 5GMS AS instance(s) current serving the Content Hosting Configuration. However, the 5GMS AF should check for errors returned by each 5GMS AS instance when the M3 purge operation is invoked, and return a suitably non-specific error to the M1 invoker (e.g. title "Application Server encountered a problem when purging its cache" and description "Application Server encountered a problem when purging its cache for the regular expression 'XXXX'."). Any errors returned at M1 must be generated locally by the 5GMS AF so as not to leak any information about the number and nature of the 5GMS AS instances managed by the 5GMS AF.

The following operations are out of scope for the present implementation:
- `M1_ContentHostingProvisioning_patchContentHostingConfiguration`. (This operation is underspecified in Rel-17.) This operation should return a `501 Not Implemented` HTTP response with a suitably descriptive human-readable error message in the `ProblemDetails` JSON response document.
   - Note that it will therefore only be possible to modify an existing Content Hosting Configuration using the `updateContentHostingConfiguration` operation.

# Relevant specifications

- TS 26.512 clauses 4.3.3 and 7.6.

TS 26.512 CR0028r2 (Rel-17) went to SA#98-e as SP-221043. On the assumption that this will be approved this week by SA Plenary, have started to develop the M1 Content Hosting Provisioning API against this pre-publication V17.3.0 defintion. 

Created openAPI model source files based on this pre-published YAML definition. The newly generated code files have different signatures for functions to create `contentHostingConfigurations` and `distributionConfigurations` to the previous release. This means the AF has to be refactored accordingly to call these functions and store the populated `contentHostingConfiguration` in its data structure. 
To support this development, @davidjwbbc  has created example[ contentHostingConfigurations](https://github.com/davidjwbbc/rt-common-shared/tree/feature/uplift-to-ts26-512-v17-3-0/5gms/examples). 


@devbbc : Full details of the M1 uplift in TS 26.512 V17.3.0 can be found on issue #19.

I have marked this in progress since you are effectively working on this at the same time as this issue.

I have added a comment to #19 noting that the entryPointPath should be checked for conformance using a regex compiled with the GNU C Library regex function `regcomp(..., REG_EXTENDED)`. The compiled regex can later be used with `regexec()` to check a string for a match.

Completed the uplift on #19. Now need to work on M1 interface.

Have implemented the the Create, Retrieve, Update and Destroy operations for the `contentHostingConfiguration` resource on the M1 interface.
Examples depicting the operations:
To create the  `contentHostingConfiguration` through the M1 interface for a provisioning session already created:
```
$ curl -H 'User-Agent: AF' -H 'Content-Type: application/json' --data @ContentHostingConfiguratioon_v17.3.0_Big-Buck-Bunny_pull-ingest_http_and_https.json -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/json
> Content-Length: 659
> 
* upload completely sent off: 659 out of 659 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 201 Created
< Connection: Keep-Alive
< Content-Length: 636
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
< Date: Wed, 21 Dec 2022 17:56:14 GMT
< 
{
	"distributionConfigurations":	[{
			"baseURL":	"http://localhost/m4d/provisioning-session-a4a6297c-8158-41ed-8dbe-97f9dc07e15d/",
			"canonicalDomainName":	"localhost"
		}, {
			"baseURL":	"https://localhost/m4d/provisioning-session-a4a6297c-8158-41ed-8dbe-97f9dc07e15d/",
			"canonicalDomainName":	"localhost",
			"certificateId":	"testcert1"
		}],
	"entryPointPath":	"BigBuckBunny_4s_onDemand_2014_05_09.mpd",
	"ingestConfiguration":	{
		"baseURL":	"https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/",
		"protocol":	"urn:3gpp:5gms:content-protocol:http-pull-ingest",
		"pull":	true
	},
	"name":	"Big Buck Bunny"
* Connection #0 to host 127.0.0.22 left intact
}
```
To get the `contentHostingConfiguration`:

```
ubuntu@ogs:~$ curl -H 'User-Agent: AF' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 636
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
< Date: Wed, 21 Dec 2022 17:57:17 GMT
< 
{
	"distributionConfigurations":	[{
			"baseURL":	"http://localhost/m4d/provisioning-session-a4a6297c-8158-41ed-8dbe-97f9dc07e15d/",
			"canonicalDomainName":	"localhost"
		}, {
			"baseURL":	"https://localhost/m4d/provisioning-session-a4a6297c-8158-41ed-8dbe-97f9dc07e15d/",
			"canonicalDomainName":	"localhost",
			"certificateId":	"testcert1"
		}],
	"entryPointPath":	"BigBuckBunny_4s_onDemand_2014_05_09.mpd",
	"ingestConfiguration":	{
		"baseURL":	"https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/",
		"protocol":	"urn:3gpp:5gms:content-protocol:http-pull-ingest",
		"pull":	true
	},
	"name":	"Big Buck Bunny"
* Connection #0 to host 127.0.0.22 left intact
}

```
Update the `entryPointPath` of the contentHostingConfiguration JSON file to `BigBuckBunny_4s_onDemand_2014_05_10.mpd` and send a PUT request to the AF

```
$ curl -H 'User-Agent: AF' -X PUT -H 'Content-Type: application/json' --data @ContentHostingConfiguratioon_v17.3.0_Big-Buck-Bunny_pull-ingest_http_and_https.json -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration

*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> PUT /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/json
> Content-Length: 659
> 
* upload completely sent off: 659 out of 659 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 204 No Content
< Connection: Keep-Alive
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
< Date: Wed, 21 Dec 2022 17:57:45 GMT
< 
* Connection #0 to host 127.0.0.22 left intact

```
To check if the `contentHostingConfiguration` is updated:

```
$ curl -H 'User-Agent: AF' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 636
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
< Date: Wed, 21 Dec 2022 17:57:58 GMT
< 
{
	"distributionConfigurations":	[{
			"baseURL":	"http://localhost/m4d/provisioning-session-a4a6297c-8158-41ed-8dbe-97f9dc07e15d/",
			"canonicalDomainName":	"localhost"
		}, {
			"baseURL":	"https://localhost/m4d/provisioning-session-a4a6297c-8158-41ed-8dbe-97f9dc07e15d/",
			"canonicalDomainName":	"localhost",
			"certificateId":	"testcert1"
		}],
	"entryPointPath":	"BigBuckBunny_4s_onDemand_2014_05_10.mpd",
	"ingestConfiguration":	{
		"baseURL":	"https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/",
		"protocol":	"urn:3gpp:5gms:content-protocol:http-pull-ingest",
		"pull":	true
	},
	"name":	"Big Buck Bunny"
* Connection #0 to host 127.0.0.22 left intact
}
```
To delete:
```
$curl -H 'User-Agent: AF' -X DELETE -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> DELETE /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 204 No Content
< Connection: Keep-Alive
< Date: Wed, 21 Dec 2022 17:58:23 GMT
< 
* Connection #0 to host 127.0.0.22 left intact

```

Querying on the deleted resource:

```
$ curl -H 'User-Agent: AF' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> GET /3gpp-m1/v2/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 404 Not Found
< Connection: Keep-Alive
< Content-Length: 251
< Content-Type: application/problem+json
< Date: Wed, 21 Dec 2022 17:58:42 GMT
< 
{
	"type":	"/3gpp-m1/v2",
	"title":	"The Content Hosting Configuration is not found",
	"status":	404,
	"detail":	"Unable to retrieve the Content Hosting Configuration",
	"instance":	"/provisioning-sessions/a4a6297c-8158-41ed-8dbe-97f9dc07e15d"
* Connection #0 to host 127.0.0.22 left intact
}
```
This shows that the operations are working but the code needs tidying up.

Started tidying up the code. Meanwhile, realised that I haven't tested the effect of the above M1 interface operations on the recent Application server (i.e Application Server from the "feature/uplift-to-ts26-512-v17-3-0" branch). 
So, performed tests by initiating operations through the M1 interface. The AF processed the operations that came through the M1 interface, populated its internal data structure and triggered corresponding operations through the M1 interface to the Application Server. So, tests worked as expected.
`M1_ContentHostingProvisioning_purgeContentHostingCache` is not yet implemented.


Have implemented part of the `M1_ContentHostingProvisioning_purgeContentHostingCache`. The Application Function can now handle purge requests but lacks proper handling of the response.

Implemented the `M1_ContentHostingProvisioning_purgeContentHostingCache` operations. The Application Function can now handle purge requests from the M1 client, send requests to the Application Server and handle responses through the M3 interface and send response back to the M1 client. 

The example below demonstrates a successful purge operation on an already provisioned content Hosting Configuration resource:
(Here the regular expression `\.mpd$` is sent in the POST body with the `Content-Type: application/x-www-form-urlencoded`
```
curl -H 'User-Agent: AF'-X POST -H 'Content-Type: application/x-www-form-urlencoded' --data "pattern=\.mpd$" -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/1b3b4e28-8c30-41ed-bd24-f3baa7d5e878/content-hosting-configuration/purge
Note: Unnecessary use of -X or --request, POST is already inferred.
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/1b3b4e28-8c30-41ed-bd24-f3baa7d5e878/content-hosting-configuration/purge HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/x-www-form-urlencoded
> Content-Length: 14
> 
* upload completely sent off: 14 out of 14 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 0
< Date: Wed, 04 Jan 2023 13:03:23 GMT
< 
```
Below is an example of purge operation without regular expression:

```
 curl -H 'User-Agent: AF' -X POST -H 'Content-Type: application/x-www-form-urlencoded' -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/1b3b4e28-8c30-41ed-bd24-f3baa7d5e878/content-hosting-configuration/purge
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/1b3b4e28-8c30-41ed-bd24-f3baa7d5e878/content-hosting-configuration/purge HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/x-www-form-urlencoded
> 
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 0
< Date: Wed, 04 Jan 2023 13:04:51 GMT
< 
* Connection #0 to host 127.0.0.22 left intact
```
(works without `-H 'Content-Type: application/x-www-form-urlencoded'` option as well).

The M1 client sends a Purge request as a POST message. On receipt of this request, the Application Function populates a list that holds the context related to purge operation such as the regular expression, resource id.

It then sends a Purge request to the Application Server through the M3 interface. On receipt of the response from the Application Server, it checks the status code. 

If the status code indicates an error, the Application Function sends a response back to the M1 client with a suitably non-specific error. The Application function will still continue to handle responses from the Application Servers.

On the other hand if the status code indicates a successful operation, the Application Function will withold sending response to the M1 client until it has either received responses from all the Application Servers or receive a response with error.

Currently, if the purge regex pattern is invalid, the Application Server raises an exception and produces a local error log. However, the Application Server returns a response with status code 200 to the Application Function. As a result, the Application Function sends a response with status 200 at M1.
 
Raised a [bug](https://github.com/davidjwbbc/rt-5gms-application-server/issues/2) so that the Application Server returns 500 in the case of invalid regex. On receipt of the response with status 500 at M3, the Application Function will trigger a new response indicating an  error with status code 500  at M1.

The Application Function is modified to handle the 422 response at M3 and trigger a new response at M1 indicating an error with status code 422.

Tested the AF's handling of 422 response at M3 with the modified AS. The AF handles the 422 response provided by the AS at M3 and triggers a new response at M1 indicating an error with status code 422.

Sample output:

```
$ curl -H 'User-Agent: AF'-X POST -H 'Content-Type: application/x-www-form-urlencoded' --data "pattern=^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$" -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/b63927fa-9758-41ed-a7e7-a7d2e27a6f4a/content-hosting-configuration/purge
* Could not resolve host: POST
* Closing connection 0
curl: (6) Could not resolve host: POST
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#1)
> POST /3gpp-m1/v2/provisioning-sessions/b63927fa-9758-41ed-a7e7-a7d2e27a6f4a/content-hosting-configuration/purge HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF-X
> Content-Type: application/x-www-form-urlencoded
> Content-Length: 50
> 
* upload completely sent off: 50 out of 50 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 422 Unprocessable Entity
< Connection: Keep-Alive
< Content-Length: 328
< Content-Type: application/problem+json
< 
{
	"type":	"/3gpp-m3/v1",
	"title":	"Application Server encountered a problem when purging its cache",
	"status":	422,
	"detail":	"Application Server possibly encountered problem with regex pattern=^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$",
	"instance":	"/content-hosting-configurations/b63927fa-9758-41ed-a7e7-a7d2e27a6f4a"
* Connection #1 to host 127.0.0.22 left intact

```

> `"type":	"/3gpp-m3/v1"`

This looks wrong for an M1 error message from the Application Function.

@davidjwbbc also noticed that the `Server` HTTP response headers are missing from the response message per clause 6.2.3.3.1 of TS 26.512. (This applies to all response messages you are generating from the AF.)

Also clause 6.2.1.1 and 6.2.3.4 specifies `Last-Modified` and `E-Tag` response headers on all responses. But I interpret this clause as only applying RESTful resources (i.e. the _retrieve*_ service operations) and _not_ to error messages.

There's a simple hash function which hashes a buffer or string to an `unsigned int` called `ogs_hashfunc_default`. But if we want a better hash then we could use something like:
```c
#include <gnutls/gnutls.h>

...
  char result[128];
  size_t result_len = sizeof(result);
  gnutls_datum_t data;

  data.data = input_buffer;
  data.size = input_size;
  gnutls_fingerprint(GNUTLS_DIG_SHA256, &data, result, &result_len);
  /* SHA256 hash is in result and is result_len chars long */
...
```
or 
```c
#include <openssl/crypto.h>
#include <openssl/sha.h>

...
  char result[SHA256_DIGEST_LENGTH];
  char *hexstr;

  SHA256(input_buffer, input_length, result);
  hexstr = OPENSSL_buf2hexstr(result, SHA256_DIGEST_LENGTH);
  /* SHA256 is in hexstr as a nul terminated string */
...
  OPENSSL_free(hexstr);
...
```

Passing back to @devbbc to deal with the `Server`, `ETag`, `Last-Modified` and `Cache-Control` headers.

Having reviewed the Open5GS code this morning with respect to having the `Server` header on all responses we have concluded that this will not be trivial.

The normal, 2xx, responses where we include a body (and `ETag`, `Last-Modified` and `Cache-Control` headers) is simple as we create the response object within the AF code. However the error responses are created inside the open5gs SBI library code and we have no way of setting any custom headers for those. In order to do that we'd have to duplicate the error response code from the SBI library in our app and modify it to add the additional `Server` header.

Another wrinkle is that if we use the open5gs SBI library HTTP2 server it will also add an extra `server` header to all responses that is the fixed string in the format "Open5GS {open5gs-version}". This is wrong for the AF which should be "5GMSdAF-{fqdn}/{af-version}". Note that the HTTP (MicroHTTPd) server in the SBI library does not add any `Server` header.

We could overcome the problem by completing ticket #12. This would allow us to have our own server code which could add in the correct default headers.

For now we can just do the 2xx responses and have a think about duplicating the send error/problem functions.

> Another wrinkle is that if we use the open5gs SBI library HTTP2 server it will also add an extra `server` header to all responses that is the fixed string in the format "Open5GS {open5gs-version}". This is wrong for the AF which should be "5GMSdAF-{fqdn}/{af-version}". Note that the HTTP (MicroHTTPd) server in the SBI library does not add any `Server` header.

A slightly neater solution would be for the Open5GS SBI library to provide a means for the application to set a default `Server` header value, either by the library exposing a global variable, or else by means of a suitable "setter" function. This change could be made as a small contribution to the Open5GS project, subject to review by @acetcom.

> > Another wrinkle is that if we use the open5gs SBI library HTTP2 server it will also add an extra `server` header to all responses that is the fixed string in the format "Open5GS {open5gs-version}". This is wrong for the AF which should be "5GMSdAF-{fqdn}/{af-version}". Note that the HTTP (MicroHTTPd) server in the SBI library does not add any `Server` header.
> 
> A slightly neater solution would be for the Open5GS SBI library to provide a means for the application to set a default `Server` header value, either by the library exposing a global variable, or else by means of a suitable "setter" function. This change could be made as a small contribution to the Open5GS project, subject to review by @acetcom.

Another solution I thought of would be to improve the adding of the headers from the response object, in `open5gs/lib/sbi/nghttp2-server.c`, so that they overwrite headers that can only appear once according to [RFC 7230 Section 3.2.2](https://www.rfc-editor.org/rfc/rfc7230#section-3.2.2). This means that non-multi-value headers, e.g. `Date`, `Server` or `Content-Type`, would replace previous headers. Alternatively, because the `Server` header is a space separated list of `product` or `comment` values, then that header could be concatenated instead. For example:
```
Server: Open5GS/1.2.3 (product from open5gs/lib/sbi/nghttp2-server.c)
Server: 5GMSdAF-fiveg-af.example.com/0.0.1 (product from 5gmsaf app)
```
... would become ...
```
Server: Open5GS/1.2.3 (product from open5gs/lib/sbi/nghttp2-server.c) 5GMSdAF-fivegms-af.example.com/0.0.1 (product from 5gmsaf app)
```
This would be an improvement to the way in which open5gs handles its request headers, preventing headers which should only appear once from being included multiple times. Even with this in place we'd still have to use our own problem/error response routines in order to insert our own custom headers, so it might be an idea to add another sbi library function(s) to allow management of a default set of headers which will be included on all responses. This way we can set a default `Server` header which would be included in response, it would also allow the possibility to add other fixed headers which could be useful too, such as `Access-Control-Allow-Origin` or `Content-Security-Policy` which can help enforce security policies.

> This would be an improvement to the way in which open5gs handles its request headers, preventing headers which should only appear once from being included multiple times.

Something at the back of my mind suggests that:
```
Header: value1
Header: value2
```
and
```
Header: value1 value2
```
are considered equivalent in HTTP.

So maybe the duplication permitted by the current Open5GS SBI library code is actually fine?

> > This would be an improvement to the way in which open5gs handles its request headers, preventing headers which should only appear once from being included multiple times.
> 
> Something at the back of my mind suggests that:
> 
> ```
> Header: value1
> Header: value2
> ```
> 
> and
> 
> ```
> Header: value1 value2
> ```
> 
> are considered equivalent in HTTP.
> 
> So maybe the duplication permitted by the current Open5GS SBI library code is actually fine, @davidjwbbc?

Multi-value headers (ones which in the spec are defined as `#somevaluetype`) are comma separated when grouped into one header value. These (plus a limited set of exceptions, e.g. `Set-Cookie`) are the only headers permitted to appear more than once. So
```
Header: value1
Header: value2
```
...would be interpreted as...
```
Header: value1,value2
```

Modified the AF so that M1 response is based on the M1 request as opposed to the M3 response object. 
Also, can parse the error details in the M3 response, but haven't implemented copying it to the M1 response. This will become handy once I have custom problem/error response routines, which I will be working on next.

Sample parsed error details shown below:

```
	{
	"title":	"Unprocessable Entity",
	"detail":	"Bad regex: unknown extension at position 28",
	"type":	"/3gpp-m3/v1",
	"status":	422,
	"instance":	"/content-hosting-configurations/88fd5d18-9ccd-41ed-8f35-adaccac7d059/purge",
	"invalidParams":	[{
			"param":	"pattern",
			"reason":	"unknown extension at position 28"
		}]
}
```
Sample M1 response for correct regular expression:
```
$ curl -H 'User-Agent: AF' -H 'Content-Type: applicationx-www-form-urlencoded' --data "pattern=^\.mpd$" -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration/purge
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration/purge HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/x-www-form-urlencoded
> Content-Length: 15
> 
* upload completely sent off: 15 out of 15 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 200 OK
< Connection: Keep-Alive
< Content-Length: 0
< Date: Wed, 25 Jan 2023 16:30:41 GMT
< 
* Connection #0 to host 127.0.0.22 left intact

```

Sample M1 response for incorrect regular expression

```
$ curl -H 'User-Agent: AF' -H 'Content-Type: application/x-www-form-urlencoded' --data "pattern=^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$" -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration/purge
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration/purge HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/x-www-form-urlencoded
> Content-Length: 50
> 
* upload completely sent off: 50 out of 50 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 422 Unprocessable Entity
< Connection: Keep-Alive
< Content-Length: 279
< Content-Type: application/problem+json
< Date: Wed, 25 Jan 2023 16:30:58 GMT
< 
{
	"type":	"/3gpp-m1/v2",
	"title":	"Problem with purge operation",
	"status":	422,
	"detail":	"Problem with regex pattern=^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$",
	"instance":	"/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059"
* Connection #0 to host 127.0.0.22 left intact

```
Other headers such as `Server` will be part of custom response routines.

The `invalidParams` for `param == "pattern"` should also be copied through to the M1 response.

I also can't decide if the instance should be `/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration` or not, @rjb1000 your thoughts?

@devbbc has coded
```
"instance": "/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059"
```
...but I'm thinking it should probably be...
```
"instance": "/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration"
```
...or even...
```
"instance": "/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059/content-hosting-configuration/purge"
```
... to indicate the instance that caused the error.

For the `purge` operation, the only response code specified in[ TS26512_M1_ContentHostingProvisioning.yaml](5G-MAG/rt-common-shared/blob/main/5gms/5G_APIs-overrides/TS26512_M1_ContentHostingProvisioning.yaml) is `200`. No error codes specified.

> For the `purge` operation, the only response code specified in[ TS26512_M1_ContentHostingProvisioning.yaml](5G-MAG/rt-common-shared/blob/main/5gms/5G_APIs-overrides/TS26512_M1_ContentHostingProvisioning.yaml) is `200`. No error codes specified.

That is correct as of TS 26.512 V17.3.0. But we are discussing possible changes to that.

There are a couple of limitations in using Open5GS functions to send error messages:

- Instance components are limited to two components. Hence, the  sample output in the above comment had 
`"instance": "/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059"`.
- There is no way to copy `invalidParams` from the M3 error to the M1 error. 

Hence, wrote custom functions, based on the original functions to handle error messages. With these functions, the error response now contains full path for `instance` and can include `invalidParams` copied from the M3 error to the M1 error as shown below:

```
$  curl  -H 'User-Agent: AF' -H 'Content-Type: applicationx-www-form-urlencoded' --data "pattern=^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$" -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/a0d20aa2-a0a5-41ed-9dd3-25c4ddc6fd7c/content-hosting-configuration/purge
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/a0d20aa2-a0a5-41ed-9dd3-25c4ddc6fd7c/content-hosting-configuration/purge HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/x-www-form-urlencoded
> Content-Length: 50
> 
* upload completely sent off: 50 out of 50 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 422 Unprocessable Entity
< Connection: Keep-Alive
< Content-Length: 424
< Content-Type: application/problem+json
< Date: Mon, 30 Jan 2023 13:55:26 GMT
< 
{
	"type":	"/3gpp-m1/v2",
	"title":	"Problem occured during cache purge",
	"status":	422,
	"detail":	"Application Server possibly encountered problem with regex pattern=^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$",
	"instance":	"/provisioning-sessions/a0d20aa2-a0a5-41ed-9dd3-25c4ddc6fd7c/content-hosting-configuration/purge",
	"invalidParams":	[{
			"param":	"pattern",
			"reason":	"unknown extension at position 28"
		}]
* Connection #0 to host 127.0.0.22 left intact
}

```


> There are a couple of limitations in using Open5GS functions to send error messages:
> * Instance components are limited to two components. Hence, the sample output in the above comment had
"instance": "/provisioning-sessions/88fd5d18-9ccd-41ed-8f35-adaccac7d059".

Thinking about it, @devbbc, the Open5GS implementation is probably correct in the strictest sense of identifying the RESTful resource that was being manipulated by the operation. On reflection, I think we maybe ought not to change that aspect. Instead, we could make the human-readable detail more informative. For example:

> 5GMS AS encountered a problem when attempting to purge Content Hosting cache with regular expression "^[^/#?:]{1,}(/[^#?/]{1,})*(?[^#]*)?(#.*)?$".

We can chat separately about the problem you encountered populating `invalidParams` in a new `ProblemDetails` JSON body.

By taking a copy of the `ogs_sbi_server_send_error` and `ogs_sbi_server_send_problem` functions we can solve a few of the issues we've been having.

1. Instance name returned in a problem did not indicate the the correct instance path. This is because `ogs_sbi_server_send_error` will only use up to the second path component after the initial protocol and version indicators. For example a path of `/3gpp-m1/v2/a/path/to/an/instance` would only return `/a/path` as the instance path. This could be circumvented by creating an `OpenAPI_problem_details_t` structure with the correct details and passing that to `ogs_sbi_server_send_problem`. The instance field will need to contain 4 path elements for problems with certificates, e.g. `/provisioning-session/12345678-9abc-def0-123456789abc/certificate/def01234-5678-9abc-def012345678`, so fixing this now will help with #17.
1. No `invalidParams` field in the problem. The `ogs_sbi_server_send_error` function does not populate the invalidParams field and takes no parameters to do so. Just like 1, this can be circumvented by building our own `OpenAPI_problem_details_t` and passing to `ogs_sbi_server_send_problem`. At the moment this is only an issue for the cache purge operation.
1. No custom header for `Server`. The error routines, `ogs_sbi_server_send_error` and `ogs_sbi_server_send_problem` do not provide a way to pass custom headers. `ogs_sbi_server_send_problem` would need to be passed custom headers to include in the response message.

So to fix 1 & 2 we need a similar routine to `ogs_sbi_server_send_error`, but that will copy the correct number of path elements for the instance identifier and can populate the invalidParams field. This should be called `msaf_server_send_error` and should reside in new source files called `server.c` and `server.h`.

To fix 3 we will need a similar routine to `ogs_sbi_server_send_problem`, called `msaf_server_send_problem`, which uses a `msaf_server_new_response` function to obtain a new response structure with the custom headers already populated (this same function can be used to create the new response structure for normal 2xx responses in the 5GMS AF too, but those parts of the code will also have to add `ETag`, `Last-Modified` and `Cache-Control` headers when body contents are also to be returned). Again, the `msaf_server_send_problem` and  `msaf_server_new_response` functions should be defined in `server.c` and `server.h`.

The `msaf_server

@davidjwbbc: Please can we generalise the names of the three new functions to `nf_server_send_error`, `nf_server_send_problem` and `nf_server_new_response` with a view to reuse in future Network Functions that are implemented as part of the 5G-MAG Reference Tools?

I think these functions can be defined in already existing `sbi-path.c` and `sbi-path.h` rather than creating new files `server.c` and `server.h`.  `sbi-path.c` has only two functions defined in it and they are related to server and client handlers. These functions could fit there as well.

Putting the new functions in their own new source files might be better for reuse elsewhere, though.

The `sbi-path.[ch]` are for dealing with the requests arriving and posting the events for them to the right SM. They are not the place for generic server functions, please put the new routines in `server.[ch]` as requested. As @rjb1000 points out this will be better for re-use. The `server.[ch]` files will be expanded with more server functions when issue #12 is implemented and we stop relying on the open5gs sbi library.

I've created a separate issue, #37, for the extra headers as they will be needed for more than just ContentHostingConfiguration responses.

As I had previously implemented most of the functions, had to restructure them according to the recent comments. Now, the application function has `server.c` and `server.h`. Completed functions `nf_server_send_error`, `nf_server_send_problem`.  `nf_server_new_response` is still in progress.

For `Last-Modified` if you're using the `strftime()` system function to format the time then set TZ environment variable to "GMT" and use the format "%a, %d %b %Y %H:%M:%S %Z".

Implemented `nf_server_new_response` to create new response structure with the custom headers. With this function, the AF can now send response with `Server`,  `ETag`, `Last-Modified` and `Cache-Control` as shown in the sample output below:


```
 $ curl -H 'User-Agent: AF' -H 'Content-Type: application/json' --data @rt-5gms-application-function/examples/ContentHostingConfiguration_Big-Buck-Bunny_pull-ingest_http_and_https.json -v http://127.0.0.22:7777/3gpp-m1/v2/provisioning-sessions/006b218c-a642-41ed-a6b5-773bac4629dc/content-hosting-configuration
*   Trying 127.0.0.22:7777...
* TCP_NODELAY set
* Connected to 127.0.0.22 (127.0.0.22) port 7777 (#0)
> POST /3gpp-m1/v2/provisioning-sessions/006b218c-a642-41ed-a6b5-773bac4629dc/content-hosting-configuration HTTP/1.1
> Host: 127.0.0.22:7777
> Accept: */*
> User-Agent: AF
> Content-Type: application/json
> Content-Length: 375
> 
* upload completely sent off: 375 out of 375 bytes
* Mark bundle as not supporting multiuse
< HTTP/1.1 201 Created
< Connection: Keep-Alive
< Content-Length: 636
< Cache-Control: 60
< Last-Modified: Mon, 06 Feb 2023 17:16:48 UTC
< ETag: 1f05ec542503481e293beb2d824903b08f146264c9ae9d5e47b399dde94ffa1e
< Content-Type: application/json
< Location: /3gpp-m1/v2/provisioning-sessions/006b218c-a642-41ed-a6b5-773bac4629dc/content-hosting-configuration
< Server: 5GMSdAF-af.localdomain/17.3.0 (info.title=M1_ContentHostingProvisioning;info.version=2.1.0) rt-5gms-application-function/1.1.0
< Date: Mon, 06 Feb 2023 17:16:48 GMT
< 
{
	"distributionConfigurations":	[{
			"baseURL":	"http://localhost/m4d/provisioning-session-006b218c-a642-41ed-a6b5-773bac4629dc/",
			"canonicalDomainName":	"localhost"
		}, {
			"baseURL":	"https://localhost/m4d/provisioning-session-006b218c-a642-41ed-a6b5-773bac4629dc/",
			"canonicalDomainName":	"localhost",
			"certificateId":	"testcert1"
		}],
	"entryPointPath":	"BigBuckBunny_4s_onDemand_2014_05_09.mpd",
	"ingestConfiguration":	{
		"baseURL":	"https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/",
		"protocol":	"urn:3gpp:5gms:content-protocol:http-pull-ingest",
		"pull":	true
	},
	"name":	"Big Buck Bunny"
* Connection #0 to host 127.0.0.22 left intact
}
```

With these  functions in place, I need to use these functions to create the other M1 and M5 responses mentioned in #37.  Note that the `Last-Modified` is in UTC instead of GMT. This will be changed to GMT as a part of #37.

Reopening for review

There was no error handling when the ContentHostingConfiguration didn't pass verification (i.e. certificate Ids used in the distributionConfiguration match existing certificates for the provisioning session). I've modified the code to feed back when the verification fails and issue a 400 Bad Request response to the M1 client.

Fixed a bug where the output of the JSON parser was not being checked, so malformed JSON caused the AF to crash.

Tested this fixed version and the ContentHostingProvisioning interface looks good, closing this issue.