HTTP/1.1 support at M5

# Context

TS 33.501 clause 13.1.0 states:
> All network functions shall support mutually authenticated TLS and HTTPS as specified in RFC 7540 [47] and RFC 2818 [90].

This means that HTTP/1.1 support is not required for service-based interactions between Network Functions.

On the other hand, for 5G Media Streaming, TS 26.512 clause 6.2.1.1 states:
> Implementations of the 5GMS AF shall expose both HTTP/1.1 [24] and HTTP/2 [31] endpoints at interfaces M1 and M5, including support for the HTTP/2 starting mechanisms specified in section 3 of RFC 7540 [31]. In both protocol versions, TLS [29] shall be supported and HTTPS interactions should be used on these interfaces in preference to cleartext HTTP.

The Open5GS framework is primarily intended to realise Network Functions using the 3GPP Service-Based Architecture. It currently implements only HTTP/2 servers (actually cleartext h2c) via the libnghttp2, although there is (macro'd out) support for HTTP/1.1 via libmicrohttpd in [`lib/sbi/server.c`](https://github.com/open5gs/open5gs/blob/main/lib/sbi/server.c#L36).

# Description

This enhancement is to change the 5GMS Application Function server from h2c  reference point M5 from h2c to HTTP/1.1.

It should be implemented in such a way that HTTP/1.1 support is also available later at reference point M1.

Protocol upgrade from HTTP/1.1 to HTTP/2 is _not_ required at this stage.

Adding TLS support will be dealt with on a separate issue and is _not_ required in the context of this issue.